/* General styles for uniformity */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #6a0572; /* Primary Brand Color */
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    font-size: 18px;
}

/* Button Styling */
button {
    background-color: #6a0572; /* Primary Brand Color */
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ffdc73; /* Accent Color */
    color: #6a0572; /* Primary Brand Color */
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#6a0572;
    padding-top: 20px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 100;
}

.sidebar h3 {
    text-align: center;
    color: #ecf0f1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #6a0572;
}

/* Main content area */
.main-content {
    margin-left: 270px; /* To make space for the sidebar */
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #6a0572; /* Primary Brand Color */
    color: white;
}

table td {
    background-color: white;
}

/* Table Row Hover */
table tr:hover {
    background-color: #f1f1f1;
}

/* Action Buttons for Table */
button {
    background-color: #ffdc73; /* Accent Color */
    color: #6a0572; /* Primary Brand Color */
    padding: 8px 16px;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #6a0572; /* Primary Brand Color */
    color: white;
}

/* Error message */
.error-message {
    color: red;
    margin: 10px 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
